STInterviewTest.ConsoleApp/Service References/ClassicAnalyzerService/ClassicAnalyzerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassicAnalyzerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IClassicAnalyzerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2412/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2412/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2412/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassicAnalyzerService_Test_InputMessage" />
  <wsdl:message name="AnalyzerResponse">
    <wsdl:part name="parameters" element="tns:AnalyzerResponse" />
  </wsdl:message>
  <wsdl:message name="AnalyzerResponse_Headers">
    <wsdl:part name="Result" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="AnalyzerRequest">
    <wsdl:part name="parameters" element="tns:AnalyzerRequest" />
  </wsdl:message>
  <wsdl:message name="AnalyzerRequest_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:portType name="IClassicAnalyzerService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassicAnalyzerService/Test" message="tns:IClassicAnalyzerService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassicAnalyzerService/TestResponse" name="AnalyzerResponse" message="tns:AnalyzerResponse" />
    </wsdl:operation>
    <wsdl:operation name="Analyze">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassicAnalyzerService/Analyze" name="AnalyzerRequest" message="tns:AnalyzerRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassicAnalyzerService/AnalyzeResponse" name="AnalyzerResponse" message="tns:AnalyzerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassicAnalyzerService" type="tns:IClassicAnalyzerService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IClassicAnalyzerService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IClassicAnalyzerService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AnalyzerResponse">
        <soap:header message="tns:AnalyzerResponse_Headers" part="Result" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Analyze">
      <soap:operation soapAction="http://tempuri.org/IClassicAnalyzerService/Analyze" style="document" />
      <wsdl:input name="AnalyzerRequest">
        <soap:header message="tns:AnalyzerRequest_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AnalyzerResponse">
        <soap:header message="tns:AnalyzerResponse_Headers" part="Result" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassicAnalyzerService">
    <wsdl:port name="BasicHttpBinding_IClassicAnalyzerService" binding="tns:BasicHttpBinding_IClassicAnalyzerService">
      <soap:address location="http://localhost:2412/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>